html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body , .container-flex, .row{
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.solid-border {
    border: solid #337ab7;
    border-width: 0 0 1px 0;
}

.flasher {
    color: #33b77a;
}
