html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.menu-header {
    display: flex;
}

.custom-glyph {
    margin-top: 4vh;
    margin-left: 2vw;
}

button + button {
    margin-left: 2vw;
}
