html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body , .container-flex, .row{
    height: 100vh;
}

body {
    font-family: 'Nova Oval', cursive;
}


.container-flex {
    overflow-x: hidden;
}


.main-panel{
    margin-top: 5vh;
}

.panel-heading {
    margin-bottom: 3vh;
}

.menu-header {
    display: flex;
}

.custom-glyph {
    margin-top: 4vh;
    margin-left: 2vw;
}

button + button {
    margin-left: 2vw;
}
