label {
    /* top | right | bottom | left */
    margin: 1vh 0 0 2vw;
    max-width: inherit;
}

.buttons {
    margin: 2vh 0 4vh 4vw;
}

button + button {
    margin-left: 4vh;
}

input {
    float: right;
}

.field-label {
    margin-right: 1vw;
}
