input, textarea, select {
    margin-left: 1vw;
    margin-right: 1vw;
}

input, textarea {
    width: 100vw;
}

textarea {
    overflow-x: hidden;
    overflow-y: scroll;
}

label {
    display: flex;
}

.label-name + input {
    margin-left: 2vw;
}

label, .btn {
    margin-left: 2vw;
    margin-bottom: 2vh;
}
