input, textarea, select {
    margin-left: 1vw;
    margin-right: 1vw;
}

input, textarea {
    width: 100vw;
}


.create-new {
    border-bottom: 0.2vh solid #337ab7;
    margin-bottom: 3vh;
}

.main-panel{
    margin-top: 5vh;
}

label {
    display: flex;
}

.panel-heading {
    margin-bottom: 3vh;
}

.label-name + input {
    margin-left: 2vw;
}

label, .btn {
    margin-left: 2vw;
    margin-bottom: 2vh;
}
