.create-new, div.flasher {
    border-bottom: 0.2vh solid #337ab7;
    margin-bottom: 3vh;
}

li.flasher {
    color: #33b77a;
    font-size: 2em;
}

.menu-item-property {
    font-family: 'Nova Oval', cursive;
}
