{% extends "standard_form_page.html" %}

{% block title %}
    Delete Restaurant
{% endblock %}

{% block panel_heading %}
<h3>
    Delete restaurant <br>
    "{{ restaurant.name }}"
 </h3>
{% endblock %}

{% block form %}
<form method="POST" action="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}">
    <button class="btn btn-default" name="choice" value="delete"> Delete </button>
    <button class="btn btn-default" name="choice" value="cancel"> Cancel </button>
</form>
{% endblock %}
