{% extends "base.html" %}

{% block title %}
    Edit ISP
{% endblock %}


{% block content %}
    <div class="container-flex">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>
                            Edit {{ isp.name }}
                        </h2>
                    </div>
                    <form method="post" action="{{ url_for('edit_isp', isp_id=isp.id) }}">
                        <label>
                            Name
                            <input type="text" name="name" value="{{ isp.name }}">
                        </label>
                        <button class="btn btn-default" name="choice" value="edit"> Edit </button>
                        <button class="btn btn-default" name="choice" value="cancel"> Cancel </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
