{% extends "base.html" %}

{% block title %}
    ISPs
{% endblock %}


{% block content %}
    <div class="container-flex">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>
                            ISPs
                        </h2>
                    </div>
                    <div class="">
                        <a href="{{ url_for('new_isp') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Add New ISP
                        </a2>
                    </div>
                    {% for isp in isps %}
                    <div class="isp">
                        <h3>
                            <a href="{{ url_for('show_packages', isp_id=isp.id) }}" >
                                Name: {{ isp.name }}
                            </a>
                        </h3>
                        <ul>
                            <li>
                                <a href="{{ url_for('edit_isp', isp_id=isp.id) }}" >
                                    Edit ISP
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('delete_isp', isp_id=isp.id) }}" >
                                    Delete ISP
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
