{% extends "template1.html" %}

{% block heading %}
    ISPs
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flasher">
        <ul panel panel-info>
        {% for message in messages %}
            <li class="flasher">
                {{ message }}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endwith %}

{% block add_item %}
<div class="add-item solid-border">
    <a href="{{ url_for('new_isp') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New ISP
    </a2>
</div>
{% endblock %}

{% block list_items %}
    {% for isp in isps %}
    <div class="isp solid-border">
        <h3>
            <a href="{{ url_for('show_packages', isp_id=isp.id) }}" >
                Name: {{ isp.name }}
            </a>
        </h3>
        <ul>
            <li>
                <a href="{{ url_for('edit_isp', isp_id=isp.id) }}" >
                    Edit ISP
                </a>
            </li>
            <li>
                <a href="{{ url_for('delete_isp', isp_id=isp.id) }}" >
                    Delete ISP
                </a>
            </li>
            <li>
                <a href="{{ url_for('isps_json', isp_id=isp.id) }}" >
                    View ISP JSON
                </a>
            </li>
            <li>
                <a href="{{ url_for('packages_json', isp_id=isp.id) }}" >
                    View Packages JSON
                </a>
            </li>
        </ul>
    </div>
    {% endfor %}
{% endblock %}
