{% extends "base_list_page.html" %}


{% block heading %}
    <h1> {{ restaurant.name }} - Menu</h1>
{% endblock %}

{% block create_new %}
    <a href="{{ url_for('new_menu_item', restaurant_id=restaurant.id) }}">
        <span class="glyphicon glyphicon-plus"></span>
        Create new menu item.
    </a>
{% endblock %}

{% block list_items %}
    {% for menu_item in menu%}
        <li>
            <div>{{ menu_item.name }}</div>
            <div>{{ menu_item.price }}</div>
            <div>{{ menu_item.description }}</div>
            <div>
                <a href="{{ url_for('menu_item_json', restaurant_id=restaurant.id, menu_id=menu_item.id) }}">
                    View menu item JSON
                </a>
            </div>
            <div>
                <a href="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=menu_item.id) }}">
                    Edit
                </a>
            </div>
            <div>
                <a href="{{ url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=menu_item.id) }}">
                    Delete
                </a>
            </div>
        </li>
        <hr>
    {% endfor %}
{% endblock %}
