{% extends "base.html" %}

{% block title %}
    Add Restaurant
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1> Create new restaurant </h1>
        <form method="POST" action="{{ url_for('new_restaurant') }}">
            <div class="form-group">
                <div class="col-sm-10 input-group">
                    <span class="input-group-addon">Name</span>
                    <input type="text" class="form-control" size="30" name="name">
                </div>
                <div class="col-sm-10 input-group">
                    <button class="btn btn-default" name="choice" value="create"> Create </button>
                    <button class="btn btn-default" name="choice" value="cancel"> Cancel </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
