{% extends "form_layout.html" %}

{% block title %}
    New ISP
{% endblock %}

{% block heading %}
    Create New ISP
{% endblock %}

{% block form %}
    <form method="post" action="{{ url_for('new_isp') }}">
        <label>
            Name
            <input type="text" name="name">
        </label>
        <div class="buttons">
            <button class="btn btn-default" name="choice" value="create"> Create </button>
            <button class="btn btn-default" name="choice" value="cancel"> Cancel </button>
        </div>
    </form>
{% endblock %}
