{% extends "base_form_page.html" %}

{% block title %}
    Create New Menu Item
{% endblock %}

{% block panel_heading %}
    Ceate New Menu Item
{% endblock %}

{% block form %}
    <form method="POST" action="{{ url_for('new_menu_item', restaurant_id=restaurant.id) }}">
        <label>
            Name
            <input type="text" name="name">
        </label>
        <label>
            Description
            <textarea name="description"></textarea>
        </label>
        <label>
            Price
            <input type="text" name="price">
        </label>
        <label>
            Course
            <select name="course">
                {% for course in courses%}
                <<option value="{{ course }}">{{ course }}</option>
                {% endfor %}
            </select>
        </label>
        <div>
            <button class="btn btn-default" name="choice" value="create"> Create </button>
            <button class="btn btn-default" name="choice" value="cancel"> Cancel </button>
        </div>
    </form>
{% endblock %}
