{% extends "template1.html" %}

{% block heading %}
    {{ isp.name }} - Packages
{% endblock %}

{% block add_item %}
<div class="add-item solid-border">
    <a href="{{ url_for('new_package', isp_id=isp.id) }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New Package
    </a>
</div>
{% endblock %}

{% block list_items %}
    {% for package in packages %}
        <div class="isp solid-border">
            <h3>
                Name: {{ package.name }}
            </h3>
            <div>
                Bandwith: {{ package.bandwidth }} Mbps
            </div>
            <div>
                Cap: {{ package.cap }} GB
            </div>
            <div>
                Price: ${{ package.price }}
            </div>
            <ul>
                <li>
                    <a href="{{ url_for('edit_package', isp_id=isp.id, package_id=package.id) }}" >
                        Edit Package
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('delete_package', isp_id=isp.id, package_id=package.id) }}" >
                        Delete Package
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('packages_json', isp_id=isp.id, package_id=package.id) }}" >
                        View Package JSON
                    </a>
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
