{% extends "base.html" %}

{% block title %}
    Restaurants
{% endblock %}

{% block styles %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1>Restaurants</h1>
                    </div>
                    <div class="create-new">
                        <a href="{{ url_for('new_restaurant') }}">
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new restaurant.
                        </a>
                    </div>
                    <ol>
                    {% for restaurant in restaurants %}
                        <li>
                            <div>{{ restaurant.name }}</div>
                            <div>
                                <a href="{{ url_for('menu', restaurant_id=restaurant.id) }}">
                                    Show menu
                                </a>
                            </div>
                            <div>
                                <a href="{{ url_for('restaurant_menu_json', restaurant_id=restaurant.id) }}">
                                    Show menu in JSON
                                </a>
                            </div>
                            <div>
                                <a href="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}">
                                    Edit restaurant
                                </a>
                            </div>
                            <div>
                                <a href="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}">
                                    Delete restaurant
                                </a>
                            </div>
                        </li>
                        <hr>
                    {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
{% endblock %}
