{% extends "base_list_page.html" %}

{% block title %}
    Restaurants
{% endblock %}

{% block heading %}
    Restaurants
{% endblock %}

{% block create_new %}
    <a href="{{ url_for('new_restaurant') }}">
        <span class="glyphicon glyphicon-plus"></span>
        Create new restaurant.
    </a>
{% endblock %}

{% block list_items %}
    {% for restaurant in restaurants %}
    <li>
        <div>{{ restaurant.name }}</div>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="options">
                <li>
                    <a href="{{ url_for('show_menu', restaurant_id=restaurant.id) }}">
                        Show Menu
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}">
                        Edit Restaurant
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}">
                        Delete Restaurant
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('restaurants_json') }}">
                        View Restaurants In JSON
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('restaurant_menu_json', restaurant_id=restaurant.id) }}">
                        View Restaurant Menus In JSON
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <hr>
    {% endfor %}
{% endblock %}
