{% extends "base_list_page.html" %}

{% block title %}
    Restaurants
{% endblock %}

{% block heading %}
    Restaurants
{% endblock %}

{% block create_new %}
    {# Only logged in users can create a new restaurant #}
    {% if current_user_id is not none %}
        <div class="create-new">
            <a href="{{ url_for('new_restaurant') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Create New Restaurant.
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block list_items %}
    {% for restaurant in restaurants %}
        <div class="list-item">
            <div>
                <a href="{{ url_for('show_menu', restaurant_id=restaurant.id) }}">
                    <h4>{{ restaurant.name }}</h4></div>
                </a>

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="options">
                    {% if current_user_id == restaurant.user_id  %}
                        <li>
                            <a href="{{ url_for('edit_restaurant', restaurant_id=restaurant.id) }}">
                                Edit Restaurant
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('delete_restaurant', restaurant_id=restaurant.id) }}">
                                Delete Restaurant
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('restaurants_json') }}">
                            View Restaurants In JSON
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('restaurant_menu_json', restaurant_id=restaurant.id) }}">
                            View Restaurant Menus In JSON
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
